
html,body{
text-align:center;
}
.login{
	width:400PX;
	height:200px;
}
.Entry_entry{
	width:400PX;
	height:50px;
}
.Entry_entry p{
	text-align:center;
	line-height:50px;
}
.admin{
	width:100px;
	height:50px;
	float:left;
	line-height:50px;
}
.admin p{
	line-height:50px;
	}
.admin_right{
	width:300px;
	height:50px;
	float:right;
	text-align:center;
}
.input{
	width:200;
	height:30px;
	margin-top:10px;
}
.pass{
	width:100px;
	height:50px;
	float:left;
	line-height:50px;
}
.pass_right{
	width:300px;
	height:50px;
	float:right;
}
.submit{
	width:400px;
	height:50px;
}
.submit input{
	width:100px;
	height:30px;
	margin-top:10px;
	margin-right:40px;
}